/node_modules
/public/hot
/public/bash
/public/easy-rsa
/public/phpmyadmin
/app/*.lic
/public/storage
/storage/app/
/storage/fonts/
/storage/framework/
/storage/logs/
/storage/*.key
/vendor
/phpmyadmin
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
