* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #eee;
	font-family: 'Poppins', sans-serif;
	background: linear-gradient(to top, #fff 10%, rgba(93, 42, 141, 0.4) 90%) no-repeat;
}

.section h2 {
	/* font-family: 'Kaushan Script', cursive; */
	margin-top: 0;
	font-size: 18px;
	color: #7b2ee8;
	text-align: center;
	text-transform: uppercase;
}

.navbar .container {
	display: flex;
	justify-content: center;
}

.navbar {
	background-color: transparent;
	padding: 1rem 1rem;
}

.navbar-brand {
	font-family: 'Kaushan Script', cursive;
	font-size: 1.5rem;
	font-weight: bold;
	color: #7b2ee8;
}

.container {
	max-width: 400px;
	margin: 0px auto;
}

.img-thumbnail {
	border: none;
	border-radius: 10px;
	width: 100%;
}

.panel {
	background: white;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}

.form-control {
	border: 1.5px solid #7b2ee8;
	border-radius: 10px;
}

.form-control:focus {
	box-shadow: none;
}

.btn-buy {
	background-color: #7b2ee8;
	color: white;
	border-radius: 20px;
	border: none;
	padding: 10px;
	width: 100%;
	font-size: 1rem;
}

.btn-buy:hover {
	background-color: #a069ee;
}

.footer-text {
	text-align: center;
	padding: 20px;
	background-color: #7b2ee8;
	color: white;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
	margin-top: 20px;
}

.modal-content {
	border-radius: 10px;
}

.modal-header {
	border-bottom: none;
	/* Remove bottom border */
}

.modal-footer {
	border-top: none;
	/* Remove top border */
}

.text-title {
	display: block;
	margin-top: 10px;
}

.text-center img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.plans-section .card {
	border: none;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}

.plans-section .card-body {
	padding: 20px;
}

.plans-section .btn-buy {
	background-color: #7b2ee8;
	color: white;
	border-radius: 20px;
	width: 100%;
	font-size: 1rem;
}

.plans-section .btn-buy:hover {
	background-color: #a069ee;
}

.mt-3 {
	margin-top: 1rem;
	/* or any value you prefer */
}

.custom-close {
	background: none;
	border: none;
	font-size: 2rem;
	color: #7b2ee8;
	opacity: 1;
}

.custom-close:hover {
	color: #a069ee;
}

.custom-close::before {
	content: '\00d7';
	/* Unicode for multiplication sign (×) */
	display: inline-block;
	/* font-weight: bold; */
}