* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #f1f1f1;
	font-family: 'Poppins', sans-serif;
}

.navbar {
	background-color: #5a67d8;
	padding: 1rem;
}

.navbar-brand {
	font-family: 'Kaushan Script', cursive;
	font-size: 1.5rem;
	font-weight: bold;
	color: #fff;
}

.container {
	max-width: 400px;
	margin: 30px auto;
}

.card-custom {
	background: white;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}

.img-thumbnail {
	border: none;
	border-radius: 15px;
	width: 100%;
	margin-bottom: 20px;
}

.form-control {
	border: 1.5px solid #5a67d8;
	border-radius: 10px;
}

.form-control:focus {
	box-shadow: none;
}

.btn-custom {
	background-color: #5a67d8;
	color: white;
	border-radius: 10px;
	border: none;
	padding: 10px;
	width: 100%;
	font-size: 1rem;
}

.btn-custom:hover {
	background-color: #434190;
}

.footer-text {
	text-align: center;
	margin-top: 20px;
}

.modal-content {
	border-radius: 10px;
}

.modal-header {
	border-bottom: none;
	/* Remove bottom border */
}

.modal-footer {
	border-top: none;
	/* Remove top border */
}

.plans-section {
	margin-top: 30px;
}

.plan-card {
	transition: transform 0.3s, box-shadow 0.3s;
}

.plan-card:hover {
	transform: translateY(-10px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card-pricing {
	margin: 10px 0;
}

.card-details {
	margin-bottom: 15px;
}

.card-pricing .price {
	font-size: 1.5rem;
	font-weight: bold;
}

.card-pricing del {
	font-size: 1.2rem;
}

.card-details p {
	margin: 5px 0;
	font-size: 0.9rem;
}

.mt-3 {
	margin-top: 1rem;
	/* Adjust the value as needed */
}

.custom-close {
	background: none;
	border: none;
	font-size: 2rem;
	color: #5a67d8;
	;
	opacity: 1;
}

.custom-close:hover {
	color: #0d6efd;
}

.custom-close::before {
	content: '\00d7';
	/* Unicode for multiplication sign (×) */
	display: inline-block;
	/* font-weight: bold; */
}